body {
    border-style: 5px solid black;
    }
    
    #all-main-items {
        border-color: black;
        border-style: 2px solid;
    }
    
    
    header {
        /*The header will have a picture on the left-side and my name on the right side
        I will try flexbox for this */
        display: flex;
        background-color: aqua;
        max-width: 50%;
        text-align: center;
    }
    
    #wdd-header {
        align-items: center;
    }
    
    #assignment-list {
        border-style: solid none;
        max-width: 50%;
    }