@media screen and (max-width: 729px) {
    /* Section for the Homepage */
body {
    padding: 0;
    margin: 0;
}
/*------------- Section for the header -------- */
header {
    display: flex;
    align-items: center;
    background-color: #586f7c;
}

header img {
    height: 50px;
    width: 50px;
}

#menu_items {
    display: none;
    align-self: flex-end;
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 20px;
    margin: auto;
    width: auto;
    text-align: center;
}

#menu_items li {
    padding: 20px 0px;
    border-style: solid white;
}



img {
    height: 100px;
    width: 100px;
}
/*------------- Main Section -------------- */
main div {
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin: 5px;
    background-color: whitesmoke;
    font-style: italic;
    padding: 20px;
    vertical-align: text-top;
    text-align: left;
}

#spotlights_section {
    text-align: center;
}

/*------------- Footer Section------------- */
footer{
text-align: center;
background-color: #586f7c;
padding: 10px;
color: white;
}


/* --- Section for the Join Page ---- */

/* --- Section for the Directory Page --- */
#directory_body {
    margin: 0 auto;
    text-align: center;
}

.buttons {
    text-align: center;
}

.business_lists {
    display: flex;
}

.business_cards {
    display: flex;
    background-color: white;
    border-color: black;
    border-style: solid;
    padding: 0px 5px;
}




} /* End the media query */


