@media screen and (max-width: 768px) {
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Source+Sans+Pro&display=swap');
    * {
        margin: 0 auto;
    }
      
nav {
    text-align: center;
    padding: 5px;
    background-color: #586f7c;
    color: #171123;
    flex-direction: row;
    font-family: 'Source Sans Pro', sans-serif;
}

#target_audience_main {
    margin: 25px;
    text-align: center;
}

#typography_main {
    text-align: center;
    padding: 25px;
    margin: 100px;
}

#typography_main h3 {
    margin: 25px;
}

nav a {
    text-decoration: none;
    color: #c7cedb;
    padding: 2px;
}

#index_layout {
    text-align: center;
    padding: 25px;
    display: grid;
}

#color_scheme {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#div_color_1 {
    background-color: #586f7c;
}

#div_color_2 {
    background-color: #4da167;
}
#div_color_3 {
    background-color: #c7cedb;
}
#div_color_4 {
    background-color: #171123;
    color: white;
}

#five_scenarios_section {
   margin: 25px;
}

ul {
    text-align: center;
    list-style: none;
    flex-direction: row;
}

img {
    height: 100px;
    width: 100px;
}

h2, p {
padding: 2px;
}

footer {
    text-align: center;
    background-color: #171123;
    color: #c7cedb;
    font-family: 'Source Sans Pro', sans-serif;
}

} /* Defines the end of the media query section */